.not-found-page{
   display: flex;
   flex-direction: column;
   
}

.not-found-page__text{
    margin: 100px auto 50px;  
    color: $hover-color; 
    font-size: 35px;
}

.not-found-page__conteiner{
    display: flex;
    justify-content: center;
}